extends ../layouts/layout

block content
  h1.visually-hidden Регистрация пользователя
  section
    .popup.popup--registration.popup--anti
      a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
        | Закрыть
        | окно
      h2.popup__title Войти
      .popup__form.form.form--log-in
        form(action='#' method='get')
          - var fields = [{type:'email',name:'email',placeholder:'Электронная почта',isRequired:true},{type:'password',name:'password',placeholder:'Пароль',isRequired:true}]
          each field in fields
            include ../components/form-field
          p.form__error-message Некоторая ошибка произошла, беда!
          button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
