ul.themes(class=additionalClass)
  each category in categories
    if (currentCategory)
      - var additionalClass = category.name === currentCategory.name ? 'themes__item-link--active' : '';
    li.themes__item
      a.themes__item-link(href='/articles/category/' + category.id class=additionalClass)
        | #{category.name}
        sup 88
      button.themes__remove-btn(type='button') Удалить категорию
