ul.pagination(class=additionalClass)
  li
    a.pagination__button.button.button--backwards.button--disabled(href='#' aria-label='Страница назад') Назад
  - var n = 1;
    while (n <= pagination.pageCount)
      li.pagination__item(class=pagination.currentPage === n ? 'pagination__item--active':'')
        a(href='?page='+n) #{n}
      - n++
  li
    a.pagination__button.button.button--forward(href='#' aria-label='Страница вперед') Вперед
